USE [IdentityEmailDb]
GO
/****** Object:  Table [dbo].[MessageCategory]    Script Date: 5/5/2026 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UserEmail] [nvarchar](max) NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MessageCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 5/5/2026 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiverEmail] [nvarchar](max) NOT NULL,
	[SenderEmail] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[MessageDetail] [nvarchar](max) NOT NULL,
	[SendDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpamSenders]    Script Date: 5/5/2026 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpamSenders](
	[SpamSenderId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [nvarchar](max) NOT NULL,
	[SenderEmail] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SpamSenders] PRIMARY KEY CLUSTERED 
(
	[SpamSenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserContactCategories]    Script Date: 5/5/2026 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserContactCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [nvarchar](max) NOT NULL,
	[ContactEmail] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_UserContactCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMessageBoxes]    Script Date: 5/5/2026 12:33:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMessageBoxes](
	[UserMessageBoxId] [int] IDENTITY(1,1) NOT NULL,
	[UserMessageBoxEmail] [nvarchar](max) NOT NULL,
	[MessageId] [int] NOT NULL,
	[CategoryId] [int] NULL,
	[IsDraft] [bit] NOT NULL,
	[IsTrash] [bit] NOT NULL,
	[IsSpam] [bit] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsStarred] [bit] NOT NULL,
 CONSTRAINT [PK_UserMessageBoxes] PRIMARY KEY CLUSTERED 
(
	[UserMessageBoxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MessageCategory] ADD  DEFAULT (N'') FOR [Color]
GO
ALTER TABLE [dbo].[UserContactCategories]  WITH CHECK ADD  CONSTRAINT [FK_UserContactCategories_MessageCategory_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[MessageCategory] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserContactCategories] CHECK CONSTRAINT [FK_UserContactCategories_MessageCategory_CategoryId]
GO
ALTER TABLE [dbo].[UserMessageBoxes]  WITH CHECK ADD  CONSTRAINT [FK_UserMessageBoxes_MessageCategory_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[MessageCategory] ([CategoryId])
GO
ALTER TABLE [dbo].[UserMessageBoxes] CHECK CONSTRAINT [FK_UserMessageBoxes_MessageCategory_CategoryId]
GO
ALTER TABLE [dbo].[UserMessageBoxes]  WITH CHECK ADD  CONSTRAINT [FK_UserMessageBoxes_Messages_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[Messages] ([MessageId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMessageBoxes] CHECK CONSTRAINT [FK_UserMessageBoxes_Messages_MessageId]
GO
