@model IdentityEmail.Entities.Message

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br<<br />
    <h3>Yeni Mesaj Gönderme</h3>
    <form method="post">
        <label>Konu</label>
        <input type="text" asp-for="Subject" class="form-control" />
        <br />
        <label>Alıcı Email</label>
        <input type="text" asp-for="ReceiverEmail" class="form-control" />
        <br />
        <label>Mesajınız</label>
        <textarea asp-for="MessageDetail" class="form-control" rows="5"></textarea>
        <br />
        <button class="btn btn-info">Mesajı Gönder</button>
    </form>
</div>